<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orphanage Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav style="background:#2c3e50; padding:15px; color:white;">
    <a href="{% url 'dashboard' %}" style="margin-right:20px; color:white;">Dashboard</a>
    <a href="{% url 'child_list' %}" style="margin-right:20px; color:white;">Children</a>
    <a href="{% url 'donation_list' %}" style="margin-right:20px; color:white;">Donations</a>
    <a href="{% url 'add_child' %}" style="margin-right:20px; color:white;">Add Child</a>
    <a href="{% url 'add_donation' %}" style="margin-right:20px; color:white;">Add Donation</a>
</nav>

<div class="container" style="padding:20px;">
    <!-- {% block content %}
    {% endblock %} -->
    <!-- <h2>Children List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Admission Date</th>
    </tr>

    {% for child in children %}
    <tr>
        <td>{{ child.name }}</td>
        <td>{{ child.age }}</td>
        <td>{{ child.gender }}</td>
        <td>{{ child.admission_date }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/add-child/">
    <button style="margin-top:20px;">Add Child</button>
</a>
</div> -->

<h1>Dashboard</h1>

<div class="container">
    <div class="card">
        <h3>Total Children: 40</h3>
    </div>
    <div class="card">
        <h3>Total Staff: 10</h3>
    </div>
    <div class="card">
        <h3>Total Donations: ₹50,000</h3>
    </div>
</div>

</body>
</html>